#select-password-creation-mode
  = f.hidden_field :create_options, value: ''
  = f.collection_radio_buttons :create_options, UserCreationForm::PASSWORD_OPTIONS, :first, :last, inline: true, control_col: 'col-sm-6'

#password-manual-creation{ style: display_on_condition(f.object.create_options, 'manual') }
  = f.password_field :password, autocomplete: 'off', control_col: 'col-sm-3', required: false
  = f.password_field :password_confirmation, autocomplete: 'off', control_col: 'col-sm-3', required: false

= f.form_group do
  = f.check_box :send_by_mail

:javascript
  setCreateUserForm();
