- set_html_title(icon: 'fa-users')

= render_breadcrumbs(tag: :h1, tag_opts: { class: 'page-header' }, crumb_opts: { ul_class: 'breadcrumb breadcrumb-without-background' })

= dci_form_for user, url: change_password_admin_user_path(user.model), label_col: 'col-sm-2', control_col: 'col-sm-4' do |f|

  = render 'change_password_fields', f: f

  = f.form_group do
    = f.success
    = f.cancel edit_admin_user_path(user.model)
